<h1>Sign Up</h1>

<form action="/user/create" method="post">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" required placeholder="Enter password">
    <input type="password" name="confirm_password" required placeholder="Confirm-password">
    <input type="submit" value="Submit" >
</form>
